div.center{    
	margin: 0 auto;
	background-color:#b0c4de;
	text-align:center;
	border:red solid thin;

}
table{
	margin: 0 auto;
	border-width:2px;
	border-style:outset;
	border-collapse: separate;
	border-spacing: 10pt 5pt;
}
td {
border-style:outset;
}

#gameContainer {
	padding-top: 64px;
	width: 100%;
	max-width: 960px;
	height: 520px;
	border: 1px solid black;
	margin: 0 auto;
	padding: 8px;
}

#infoContainer {
	width: 100%;
	height: 10%;
}
#cardContainer {
	width: 100%;
	height: 60%;
}

#controlsContainer {
	width: 100%;
	height: 30%;
}

.chosen {
	position: relative;
	bottom: -20px;
	opacity: 0.5;
}